@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    /* Base CSS here */

    :root {
        --color-primary: 99 102 241;
        --color-secondary: 31 41 55;
        --color-success: 16 185 129;
        --color-danger: 239 68 68;
        --color-warning: 251 146 60;
        --color-info: 6 182 212;

        --bg-theme: 58 56 69;
        --bg-header: var(--bg-theme);
        --bg-body: 248 248 248;
        --bg-aside: 255 255 255;
    }

    [data-theme=blue] {
        --color-primary: 50 82 136;
        --bg-theme: 50 82 136;
    }

    [data-theme=green] {
        --color-primary: 16 86 82;
        --bg-theme: 16 86 82;
    }

    [data-theme=red] {
        --color-primary: 179 48 48;
        --bg-theme: 179 48 48;
    }

    .dark {
        color-scheme: dark;
        --bg-theme: 33 33 33;
        --bg-header: var(--bg-theme);
        --bg-body: 24 24 24;
        --bg-aside: 28 28 28;
    }

    body {
        @apply text-sm text-gray-600 dark:text-gray-400
    }
}

@layer components {
    /* Custom components CSS here */

    .button {
        @apply inline-flex justify-center items-center gap-2 relative px-4 py-2 text-sm text-white font-medium tracking-wider rounded-sm border border-transparent transition cursor-pointer
        focus:outline-none focus:ring disabled:cursor-not-allowed disabled:ring-0;
    }

    .button-lg {
        @apply text-base px-5 py-2.5;
    }

    .button-sm {
        @apply px-3 py-1.5;
    }

    .button-xs {
        @apply font-normal text-xs px-1.5 py-1;
    }

    .button-primary {
        @apply bg-primary ring-primary/30 hover:bg-primary/90 disabled:bg-primary/60;
    }

    .button-secondary {
        @apply bg-secondary ring-secondary/30 hover:bg-secondary/90 disabled:bg-secondary/60;
    }

    .button-success {
        @apply bg-success ring-success/30 hover:bg-success/90 disabled:bg-success/60;
    }

    .button-danger {
        @apply bg-danger ring-danger/30 hover:bg-danger/90 disabled:bg-danger/60;
    }

    .button-warning {
        @apply bg-warning ring-warning/30 hover:bg-warning/90 disabled:bg-warning/60;
    }

    .button-info {
        @apply bg-info ring-info/30 hover:bg-info/90 disabled:bg-info/60;
    }

    .button-primary-outline {
        @apply bg-transparent border-primary text-primary hover:bg-primary hover:text-white focus:bg-primary focus:text-white ring-primary/30;
    }

    .button-secondary-outline {
        @apply bg-transparent border-secondary text-secondary hover:bg-secondary hover:text-white focus:bg-secondary focus:text-white ring-secondary/30;
    }

    .button-success-outline {
        @apply bg-transparent border-success text-success hover:bg-success hover:text-white focus:bg-success focus:text-white ring-success/30;
    }

    .button-danger-outline {
        @apply bg-transparent border-danger text-danger hover:bg-danger hover:text-white focus:bg-danger focus:text-white ring-danger/30;
    }

    .button-warning-outline {
        @apply bg-transparent border-warning text-warning hover:bg-warning hover:text-white focus:bg-warning focus:text-white ring-warning/30;
    }

    .button-info-outline {
        @apply bg-transparent border-info text-info hover:bg-info hover:text-white focus:bg-info focus:text-white ring-info/30;
    }

    .button-primary-soft {
        @apply bg-primary/30 text-primary hover:bg-primary hover:text-white focus:bg-primary focus:text-white ring-primary/30
        dark:bg-primary dark:text-white;
    }

    .button-secondary-soft {
        @apply bg-secondary/30 text-secondary hover:bg-secondary hover:text-white focus:bg-secondary focus:text-white ring-secondary/30
        dark:bg-secondary dark:text-white;
    }

    .button-success-soft {
        @apply bg-success/30 text-success hover:bg-success hover:text-white focus:bg-success focus:text-white ring-success/30
        dark:bg-success dark:text-white;
    }

    .button-danger-soft {
        @apply bg-danger/30 text-danger hover:bg-danger hover:text-white focus:bg-danger focus:text-white ring-danger/30
        dark:bg-danger dark:text-white;
    }

    .button-warning-soft {
        @apply bg-warning/30 text-warning hover:bg-warning hover:text-white focus:bg-warning focus:text-white ring-warning/30
        dark:bg-warning dark:text-white;
    }

    .button-info-soft {
        @apply bg-info/30 text-info hover:bg-info hover:text-white focus:bg-info focus:text-white ring-info/30
        dark:bg-info dark:text-white;
    }

    .input {
        @apply px-3 py-2 bg-transparent border border-gray-300 rounded shadow w-full transition focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-30 focus:outline-none disabled:bg-gray-100
        dark:border-zinc-700 dark:focus:border-primary dark:disabled:bg-white/10;
    }

    select.input {
        @apply pr-10;
    }

    .input-lg {
        @apply px-3.5 py-2.5 text-lg;
    }

    .input-sm {
        @apply py-1.5 px-2 text-sm;
    }

    .checkbox-ui {
        @apply text-primary border-gray-300 rounded cursor-pointer focus:ring focus:ring-primary focus:ring-opacity-30
        dark:bg-gray-700 dark:border-gray-700 dark:ring-offset-transparent;
    }

    .checkbox {
        @apply text-primary bg-transparent border-gray-300 transition shadow rounded cursor-pointer focus:ring focus:ring-offset-0 focus:ring-primary/30
        dark:border-zinc-700;
    }

    .checkbox-secondary {
        @apply text-secondary focus:ring-secondary/30 ;
    }

    .checkbox-success {
        @apply text-success focus:ring-success/30;
    }

    .checkbox-danger {
        @apply text-danger focus:ring-danger/30;
    }

    .checkbox-warning {
        @apply text-warning focus:ring-warning/30;
    }

    .checkbox-info {
        @apply text-info focus:ring-info/30;
    }

    .badge {
        @apply bg-primary/20 text-primary text-xs font-semibold px-2.5 py-1 rounded dark:bg-primary dark:text-white;
    }

    .badge-secondary {
        @apply bg-secondary/20 text-secondary text-xs font-semibold px-2.5 py-1 rounded dark:bg-secondary dark:text-white;
    }

    .badge-success {
        @apply bg-success/20 text-success text-xs font-semibold px-2.5 py-1 rounded dark:bg-success dark:text-white;
    }

    .badge-danger {
        @apply bg-danger/20 text-danger text-xs font-semibold px-2.5 py-1 rounded dark:bg-danger dark:text-white;
    }

    .badge-warning {
        @apply bg-warning/20 text-warning text-xs font-semibold px-2.5 py-1 rounded dark:bg-warning dark:text-white;
    }

    .badge-info {
        @apply bg-info/20 text-info text-xs font-semibold px-2.5 py-1 rounded dark:bg-info dark:text-white;
    }

    .badge-light {
        @apply bg-white/20 text-white text-xs font-semibold px-2.5 py-1 rounded dark:bg-white/20 dark:text-white;
    }

    .badge-dark {
        @apply bg-gray-800/20 text-gray-800 text-xs font-semibold px-2.5 py-1 rounded dark:bg-gray-700 dark:text-white;
    }

    .card {
        @apply w-full flex flex-col bg-white shadow rounded-sm dark:bg-aside;
    }

    .card-header {
        @apply w-full flex items-center justify-between px-5 py-4 rounded-t border-b border-dashed font-semibold bg-gray-50
        dark:bg-aside/5 dark:border-zinc-700;
    }

    .card-body {
        @apply w-full grow px-5 py-4;
    }

    .card-footer {
        @apply w-full px-5 py-4 rounded-b border-t border-dashed font-semibold bg-gray-50
        dark:bg-aside/5 dark:border-zinc-700;
    }

    .card-active {
        @apply bg-gradient-to-b from-success/80 to-success;
    }

    .card-primary {
        @apply bg-gradient-to-b from-primary/80 to-primary;
    }

    .card-secondary {
        @apply bg-gradient-to-b from-secondary/80 to-secondary;
    }

    .card-success {
        @apply bg-gradient-to-b from-success/80 to-success;
    }

    .card-danger{
        @apply bg-gradient-to-b from-danger/80 to-danger;
    }

    .card-danger{
        @apply bg-gradient-to-b from-danger/80 to-danger;
    }

    .card-warning{
        @apply bg-gradient-to-b from-warning/80 to-warning;
    }

    .card-info{
        @apply bg-gradient-to-b from-info/80 to-info;
    }

    .card-green {
        @apply bg-gradient-to-b from-green-500 to-green-600 dark:from-green-700 dark:to-green-800;
    }

    .card-red {
        @apply bg-gradient-to-b from-red-500 to-red-600 dark:from-red-700 dark:to-red-800;
    }

    .card-blue {
        @apply bg-gradient-to-b from-blue-500 to-blue-600 dark:from-blue-700 dark:to-blue-800;
    }

    .card-orange {
        @apply bg-gradient-to-b from-orange-500 to-orange-600 dark:from-orange-700 dark:to-orange-800;
    }

    .animate-up {
        @apply hover:-translate-y-1.5 hover:shadow-lg transition ease-in-out duration-500;
    }

    .animate-down {
        @apply hover:translate-y-1.5 transition ease-in-out duration-500;
    }

    .before-marker {
        @apply before:content-[''] before:block before:w-[6px] before:h-[6px] before:rounded-full before:border before:border-current before:hover:bg-current;
    }

    .waves-effect {
        @apply relative overflow-hidden;
    }

    .waves-gray .ripple {
        @apply bg-gray-200/40;
    }

    .ripple {
        @apply absolute bg-white/30 w-6 h-6 -translate-x-1/2 -translate-y-1/2 animate-waves rounded-full;
    }

    .is-dropdown-show {
        @apply block opacity-100 visible transition duration-300 ease-out;
    }
}

@layer utilities {
    /* Custom utilities CSS here */

    .is-visible {
        @apply visible opacity-100;
    }

    .is-invisible {
        @apply invisible opacity-0;
    }

    .is-locked-scroll {
        @apply overflow-hidden !important;
    }

    .is-border-success {
        @apply border-success focus:border-success focus:ring-success focus:ring-opacity-30 dark:border-success dark:focus:ring-success dark:focus:ring-opacity-30;
    }

    .is-border-danger {
        @apply border-danger focus:border-danger focus:ring-danger focus:ring-opacity-30 dark:border-danger dark:focus:ring-danger dark:focus:ring-opacity-30
    }

    .is-navigation-show {
        @apply left-0;
    }

    .is-collapsed {
        --collapse-height: 0px;
        @apply hidden;
    }

    .collapsible {
        height: var(--collapse-height);
    }

    .is-collapse-transition {
        @apply overflow-hidden transition-all duration-[350ms] ease-out;
    }
}
